// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.pointer{
    cursor: pointer;
}

.create_escaparate{
    .card {
        &.selected {
            background-color: $primary;
            color: white;
        }
    }
    .img-escaparate {
        &.selected {
            border: 3px solid $primary;
        }
    }
}
