// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.pointer{
    cursor: pointer;
}

.create_escaparate{
    height: 85vh;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 600px 300px;
    .card {
        &.selected {
            background-color: $primary;
            color: white;
        }
    }
    .img-escaparate {
        &.selected {
            border: 3px solid $primary;
        }
    }
}


h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald',sans-serif;
    font-weight: 600;
}
